//- header.header HEADER
.header
  .header__content
    .header__logo
      img(src='/images/share/logo.png', alt='Логотип').header__logo-img
    nav.header__menu
      a(href="#").header__menu-link Home
      a(href="#").header__menu-link About
      a(href="#").header__menu-link Portfolio
      a(href="#").header__menu-link Services
      a(href="#").header__menu-link Page
      a(href="#").header__menu-link Elements
    .header__btn
      a(href='#').header__btn-link Contact us
    .header__menu-btn
      

