.services
  .services__header
    .services__header-content
      span.services__sm-title We’re Offering
      h2.services__title SEO Services with talent specialist & Digital business
    button.services__more See More Services
	
  .services__content
    .card__content-card
      .card 
        .card__avatar 
          img(src="images/share/button.png" alt="Content Marketing").card__img
        h3.card__title Content Marketing
        p.card__text 
        |We craft great content that keep your users interested and coming back for more. I have mixed feelings about the explosion of web content.
    .card__content-cards  
      .card 
        .card__avatar 
          img(src="images/share/button-links.png" alt="Link Building").card__img
        h3.card__title Link Building
        p.card__text
        |Links are still a powerful ranking factor in SEO. However, acquiring the wrong links could lead to a Google Penalty. 
      .card 
        .card__avatar 
          img(src="images/share/button-seo.png" alt="SEO & Social media").card__img
        h3.card__title SEO & Social media
        p.card__text
        |Your data tells a story that we need to understand. We’ve built a proprietary report that pulls important SEO data from Google Search Console
    .card__content-card
      .card 
        .card__avatar 
          img(src="images/share/btn.png" alt="Adwords & PPC").card__img
        h3.card__title AdWords & PPC
        p.card__text
        |Is your Google AdWords budget disappearing without sales or calls? Or are you new to pay per click advertising, PPC?





